/* ⏳now task is make a 
   auto boilarplate for CSS
   just like code with harry did in his project 
   ❌=>✅
   */
   * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html,
  body {
    width: 100%;
    height: 100%;
  }
body{
  background-image: url("./assets/images/nice-snow.png");
  background-color: #009bb0;
}
  div{
    width: 50%;
    margin-left: 25%;
    background-image: url("./assets/images/fresh-snow.png");
    /* background-color: #000; */
  }

h1{
    font-family: "Libre Baskerville", serif;
    text-transform: capitalize;
    color: #176B87;
    text-align: center;
}
  
p{
    color: #04364A;
    text-align: center;
}

img{
  /* height: 100px; */
  /* width: 100px; */
  border-radius: 50%;
    border: 5px solid #009EFF;
    width: 100%;
}